@model PuzzleViewModel
@{
  ViewData["Title"] = $"Print - #{Model.Id}(Solution)";
  Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SudokuPages</title>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/SudokuPages.styles.css" asp-append-version="true" />
</head>

<body>
  <br />
  <div class="container">
    <main role="main" class="pb-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <table class="table table-sudoku">
              <tbody>
                @for (int i = 0; i < 9; i++)
                {
                  <tr>
                    @for (int j = 0; j < 9; j++)
                    {
                      <td>@(Model.Grid[i, j] == 0 ? "" : Model.Grid[i, j])</td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script type="text/javascript">
    window.onload = window.print();
  </script>
</body>

</html>
