<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SudokuPages</title>
    <link rel="preload stylesheet" as="style" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="preload stylesheet" as="style" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css"
        asp-append-version="true" />
    <link rel="preload stylesheet" as="style" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - copyright Byron Wheeler
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
